<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['home']">Art Gallery</a>
    </div>
    <ul class="navbar-nav">
      <li><a class="nav-link" [routerLink]="['home']" routerLinkActive="active-link">Home</a></li>
      <li><a class="nav-link" [routerLink]="['images']" routerLinkActive="active-link">Gallery</a></li>
      <!--<li><a class="nav-link" href="#">Page 1</a></li>
      <li><a class="nav-link" href="#">Page 2</a></li>
      <li><a class="nav-link" href="#">Page 3</a></li>-->
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

